{% extends "include.html" %}
{% block content %}

      <div class="container marketing">
        <div class="row">
          <div class="col-lg-12" align="center">
                    <h2 class="featurette-heading"><br>Contact Us</h2>
                <hr class="featurette-divider">
          </div>
        </div><!-- /.row -->

        <div class="row">
          <div class="col-lg-12">
            <div class="row featurette">
              <div class="col-md-7">
                <p class="lead">We would like to hear from you. So, if you want to provide any feedback or suggestions related to our work. Please feel free to contact:
                  <ul class = "ref">
                    <li>*Fakhra Jabeen: Click here to <a href="mailto:f.jabeen@vu.nl">email</a></li>
                    <li>Charlotte Gerritsen</li>
                    <li>Jan Treur</li>
                  </ul>
                </p>
              </div>
              <div class="col-md-5">
                <img src="static/media/contact.svg" width = "450" height="450">
              </div>
            </div>
          </div>
        </div><!-- /.row -->

      </div><!-- /.container -->

    <hr class="featurette-divider">
{% endblock %}