{% extends "include.html" %}
{% block content %}

<main role="main">

    <!-- START THE FEATURETTES -->


    <div class="row featurette">
      <div class="col-md-7" align="center">
        <hr class="featurette-divider">
        <h1 class="display-4">Invalid </h1>
        <p class="lead">The link you provided is invalid. Please send us an <a href="mailto:f.jabeen@vu.nl">email</a>.</p>
          <hr class="featurette-divider">
      </div>

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

{% endblock %}