{% extends "include.html" %}
{% block content %}

<main role="main">

    <!-- START THE FEATURETTES -->


    <div class="row featurette">
      <div class="col-md-7" align="center">
        <hr class="featurette-divider">
        <h1 class="display-4">{{user.instagram}}  </h1>
        <p class="lead">This is a private account. Therefore, we cannot show the analysis results. However, some basic information regarding the account is</p>
          <p>
          <!--npi_score = user.npi_score <br>-->

          Biography : {{user.biography}}<br>
          Media count : {{user.media_count}}<br>
          Followers : {{user.followers}}<br>
          Following : {{user.following}}</p>
          <hr class="featurette-divider">
      </div>

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

{% endblock %}