{% extends "include.html" %}
{% block content %}

      <div class="container marketing">
        <div class="row">
          <div class="col-lg-12" align="center">
                    <h2 class="featurette-heading"><br>Privacy statement: Behavioral Stats</h2>
                <hr class="featurette-divider">
          </div>
        </div><!-- /.row -->

        <div class="row">
          <div class="col-lg-12">
            <div class="row featurette">
              <div class="col-xl-auto">
                <p class="lead">Dated: July 2020 <br>
                Behavioral Stats finds privacy important. In this privacy statement, we describe how we deal with your personal data and how your privacy is safeguarded.
                </p>
                  <h3>Who is responsible for the processing of my personal data?</h3>
                  <p class="lead"> BehavioralStats is responsible for the data processing that is described in this privacy statement. BehavioralStats has the statutory obligation of ensuring that your personal data are processed in accordance with applicable data protection laws, including the General Data Protection Regulation (GDPR).</p>
                  <h3>What (categories of) personal data will be processed?</h3>
                  <p class="lead"> We will process the following personal data:</p>
                  <ol>
                      <li>Your Instagram Profile; and</li>
                      <li>Your Posts and conversations.</li>
                  </ol>
                  <h3>For which purposes are my personal data processed, and on the basis of which legal grounds?</h3>
                  <p class="lead"> The personal data will only be used for the following purposes:</p>
                  <ol>
                      <li>Personality Analysis;</li>
                      <li>Research Prupose;</li>
                      <li>Internal control and business security; and</li>
                      <li>The implementation or application of legislation.</li>
                  </ol>
                  <p class="lead">We process your personal data on the basis of the following legal grounds:</p>
                  <ol>
                      <li>We will process your data for research purpose only, and the data will be synonymized keeping your identity secure and confidential. </li>
                      <li>We will not share this data under any kind of Third-Party Agreements.</li>
                      <li>You have given consent to the processing of your personal data. In that case you have the right to withdraw your consent at any time by contacting us via the contact details below.</li>
                  </ol>
                  <h3>Who has access to my personal data?</h3>
                  <p class="lead">The personal data will only be accessed by employees of Vrije Universiteit Amsterdam, who by reason of their function have a role in the processing of your personal data for the above mentioned purposes and for whom it is necessary that they have access to the personal data.</p>

                  <h3>Will my personal data be shared with third parties?</h3>
                  <p class="lead">We may share your personal data with third parties, such as the suppliers of IT systems that we use for the processing of your personal data.  Also it can be shared with the academic and research groups for research purpose only.
                      <br>
                        If we share your personal data with third parties that process your personal data on our instructions, we enter into a data processing agreement with them in order to ensure that your personal data are processed carefully, securely and in accordance with the GDPR. We continue to be the data controller in respect of this processing.
                      <br>
                        It is possible that we share your personal data with other parties, such as public bodies, if this is for example necessary in order to comply with a legal obligation or a court order.
                  </p>

                  <h3>Will my personal data be transferred to countries outside of the European Economic Area?</h3>
                  <p class="lead">No, your personal data will not be transferred to countries outside of the European Economic Area (EEA). The EEA consists of all EU countries plus Norway, Liechtenstein and Iceland. No additional requirements apply to the transfer of personal data between these countries on the basis of the GDPR.
                  </p>

                  <h3>For how long will my personal data be retained?</h3>
                  <p class="lead">Unless a specific retention period is prescribed by law, we will retain your personal data for as long as this is necessary in order to accomplish the abovementioned purposes. For more information you can contact us via contact details.
                  </p>

                  <h3>How will my personal data be secured?</h3>
                  <p class="lead">BehavioralStats takes appropriate technical and organizational measures to protect your personal data against loss and any form of unlawful processing.
                  </p>

                  <h3>Who can I contact with questions about the processing of my personal data?</h3>
                  <p class="lead">You can ask questions about how we process your personal data via
                      <a href = "mailto:behavioralstats@outlook.com" > Email </a>.
                  </p>

                  <h3>How can I exercise my privacy rights?</h3>
                  <p class="lead">On the basis of the GDPR you have the right – under certain conditions – to access your personal data that we process, to correct your personal data if it contains factual inaccuracies, to delete your personal data, to limit the processing of your personal data, to portability of your personal data and to object to the processing of your personal data.
                    <br>
                    If you wish to exercise any of these privacy rights, you can contact the Data Protection Officer of VU Amsterdam via:</p>
                  <p class="text-info">
                      Data Protection Officer <br>
                      De Boelelaan 1105 <br>
                      1081 HV AMSTERDAM<br>
                      Email:<a href = "mailto:functionarisgegevensbescherming@vu.nl" > functionarisgegevensbescherming@vu.nl</a>.
                  </p>
                  <p class="lead">To be able to deal with your request, you will be asked to provide proof of identity. In this way it will be verified that the request has been made by the right person. If you are not satisfied with the way in which we deal with your personal data, you have the right to submit a complaint with a supervisory authority.</p>
              </div>

            </div>
          </div>
        </div><!-- /.row -->

      </div><!-- /.container -->

    <hr class="featurette-divider">
{% endblock %}