{% extends "include.html" %}
{% block content %}

      <div class="container marketing">
        <div class="row">
          <div class="col-lg-12" align="center">
                    <h2 class="featurette-heading"><br>Behavioral Stats Privacy Statement and Terms of Service</h2>
                <hr class="featurette-divider">
          </div>
        </div><!-- /.row -->

        <div class="row">
          <div class="col-lg-12">
            <div class="row featurette">
              <div class="col-xl-auto">
                <p class="lead">Dated: July 2020 <br>
                This article is the easy to read version for the terms and conditions to use our service.
                To use our service, you will need to agree to the following to use our service. If you are registering yourself, the Terms below apply starting today.</p>
                <h3>Privacy Statement</h3>
                <h4>Why we need your data </h4>
                <p class="lead">As you register yourself for our services, this implies that you agree with the Terms and Conditions of our service (See Terms below). The basic intention of this service is scientific research and to give you a reflection of your behavior over Instagram. Therefore, the data which our service will process consist of: </p>
                <ul class = "ref">
                  <li>Your Instagram profile information</li>
                  <li>Your posts including your photos and comments you made through Instagram</li>
                  <li>Your email, to send you the results of our study.</li>
                </ul>

                <h4>About data </h4>
                <p class="lead">
                We are a research-based group and the main aim of data collection is to study and reflect different behaviors over Instagram. We will follow privacy ethics, and take appropriate measures to prevent abuse/unauthorized access.
                <br>
                Any personal information that could reasonably identify you will be synonymized during research or publication procedures. The principal investigator will keep a link that identifies you to your coded information, but this link will be kept secure and available only to the principal investigator or selected members of the research team. Any information that can identify you will remain confidential..
                <br>
                Also, you have got the right to edit/remove your personal information from our server, by sending a request. If you withdraw from the study, you do not have to state why. Please do inform the researcher about your decision. All data already collected up until that moment will be used for the current and future research. Please contact <a href="mailto:to: behavioralstats@outlook.com">Us</a> for further details.
                  <br>
                  For more information about your privacy: <a href = "{% url 'statement' %}"> See Here </a>
                </p>
                <h3>Terms and Conditions</h3>
                <h4>Basic Terms </h4>
                <ol class = "ref">
                  <li>You are at least 18 years old and have a public Instagram account.</li>
                  <li>You agree that you are allowing us to use your picture and Instagram ID to present you with your behavior related statistics. If you are accessing an account(s) on behalf of the account owner (e.g., as an administrator, consultant, analyst, etc.), the Terms apply to your activities on behalf of the account owner.</li>
                  <li>You agree that we can access your public profile, and thus we can study your posts; the images you shared with others, and your conversations for your emotions.</li>
                  <li>You may need an email account to use some features and future contact (if needed). You must ensure that your account information (that is, the information you provided when you registered) should be complete, accurate, and truthful.</li>
                  <li>You agree not to use our service to: i. obtain or attempt to obtain unauthorized access to the services or data; ii. violate any applicable laws or regulations; iii. impersonate any person or entity, or forge or manipulate headers or identifiers to disguise the origin of any content transmitted through our website</li>
                  <li>Using the Services does not give you ownership of any intellectual or other property rights or the content you access. This is a research-based study and unless you have explicit written permission, you must not reproduce, modify, rent, lease, sell, trade, distribute, transmit, broadcast, publicly perform, create derivative works based on, or exploit for any commercial purposes, any portion or use of, or access to, the Services (including content, advertisements, APIs, and software).</li>
                  <li>You agree that the feedback/recommendation/suggestion provided by you related to our service may be used by us without any notice or obligation and you waive any rights related to ownership to any kind of feedback.</li>
                  <li>We may, without notice, add or remove functionalities or features to the services, or temporarily or permanently suspend or stop it.</li>
                </ol>
              </div>

            </div>
          </div>
        </div><!-- /.row -->

      </div><!-- /.container -->

    <hr class="featurette-divider">
{% endblock %}