{% extends "include.html" %}
{% block content %}
  <hr class="featurette-divider">
  <div class="container marketing">
    <div class="row">
      <div class="col-lg-12" align="center">
        <!-- Questionaire -->
        <div class="card-deck mb-3 text-center">
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Personal Information </h4>
            </div>
            <div class="card-body">
              <!-- Form -->
                <form class="needs-validation" novalidate action="{% url 'step2'  %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                <div class="mb-3">
                  <label for="full_name">Full Name <span class="text-muted"></span></label>
                  <input type="text" class="form-control" id="full_name" name="full_name" required>
                  <div class="invalid-feedback">
                    Please enter your name.
                  </div>
                </div>
                <div class="mb-3">
                  <label for="email">Email <span class="text-muted"></span></label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com" required>
                  <div class="invalid-feedback">
                    Please enter a valid email address.
                  </div>
                </div>
                <div class="mb-3">
                  <label for="instagram">Instagram ID <span class="text-muted"></span></label>
                  <input type="text" class="form-control" id="instagram" name="instagram" required>
                  <div class="invalid-feedback">
                    Please enter your instagram ID.
                  </div>
                </div>
                <div class="mb-3">
                  <label for="selfie">Selfie <span class="text-muted"></span></label>
                  <input type="file" class="form-control" id="selfie" name="selfie" required>
                  <div class="invalid-feedback">
                    Please upload a valid selfie.
                  </div>
                </div>
                  <!--Updated -->
                <div class="mb-3">
                  <label for="gender">Gender <span class="text-muted"></span></label><br>
                      <input type="radio" id="male" name="gender" value="male">
                      <label for="male">Male</label>
                      <input type="radio" id="female" name="gender" value="female">
                      <label for="female">Female</label>
                      <input type="radio" id="other" name="gender" value="other">
                      <label for="other">Other</label>
                  <div class="invalid-feedback">
                  Please mark your gender.
                  </div>
                </div>
                  <!--Updated -->
                <div class="mb-3">
                  <input type="checkbox" id="terms" name="terms" required>
                  <label for="terms"><span class="text-muted"></span> I agree to <a href="{% url 'terms' %}">terms & conditions.</a> </label>
                  <div class="invalid-feedback">
                    Please agree to terms & conditions to proceed.
                  </div>
                </div>
                <button type="submit" class="btn btn-lg btn-block btn-secondary">Proceed</button>
                </form>
              <!-- End-Form -->
            </div>
          </div>
        <!-- End Questionaire -->
      </div>
    </div><!-- /.row -->
    <hr class="featurette-divider">
  </div><!-- /.container -->
  <style>
    .grid-striped .row:nth-of-type(odd) {
      background-color: rgba(0,0,0,.05);
    }
  </style>
{% endblock %}